@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.logo{
  font-family: 'Grand Hotel', cursive;
  font-weight: 400;
  font-size: 5rem;
  font-style: italic;
}
html {
  font-size: 62.5%;
}
.navbar {
  display: flex;
  position:sticky;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #00acb540, #eeeeee);
}
.navbarName {
  font-size: large;
  font-family: sans-serif;
}
.navbarName h1 {
  color: #222831;
  margin: 0;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search-bar input {
  padding: 1rem;
  border: none;
  outline: 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 20rem;
  background-color: #22283116;
}
.logout {
  padding: 1rem;
  background-color: #00acb5b5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.3S;
}
.search-bar button:hover {
  background-color: #00acb5;
}
.icon{
  padding: 1rem;
  background-color:#00acb5b5; 
  color:white; 
  border: none;
  border-radius: 50%; 
  font-size: 1.6rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none; 
  
}
.cursor{
  cursor: pointer;
}